#VBar { position: absolute;
    clear: right;
    right: 50px;
    width: 400px;
    border: 3px solid #73AD21;
    padding: 10px;
}

#spacer { padding-top: 50px;
}

#datedisplay { position: fixed;
    bottom: 20px;}

h1.pagename { padding-left: 50px;

}